@import "tailwindcss";


::-webkit-scrollbar{
    width: 0%;

}

html,body{
    background-color: #FFFEF7;
}

@font-face {
    font-family:Switzer-light ;
    src: url(../public/Assets/Fonts/Switzer-Light.otf);
}

.Switzer-light{
    font-family:Switzer-light ;

}


@keyframes moveImage {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2%); 
    }
    100% {
      transform: translateY(0); 
    }
  }
  
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }